{% extends "base.html" %}
{% load static %}

{% block title %}Страница не найдена{% endblock %}

{% block content %}
<!-- 404 Start -->
<div class="container-xxl py-6 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                <h2 class="display-1">500</h2>
                <h3 class="mb-4">Что-то пошло не так</h3>
                <p class="mb-4">We’re sorry, the page you have looked for does not exist in our website! Maybe go to our
                    home page or try to use a search?</p>
                <a class="btn btn-primary rounded-pill py-3 px-5" href="{% url 'index' %}">Перейти на Главную</a>
            </div>
        </div>
    </div>
</div>
<!-- 404 End -->
{% endblock %}